
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root{
    /*****Colors*****/
    --primary-orange-400: hsl(12,88%,59%);
    --primary-blue-950: hsl(228,39%,23%);

    --neutral-gray-950:hsl(233,12%,13%);
    --neutral-orange-50: hsl(13,100%,96%);
    --neutral-gray-50: hsl(0,0%,98%);

    /*****Typography******/
    --primary-font:"Be Vietnam Pro",sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --base-font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--primary-font);
    overflow-x: hidden;
    
}

header{
    padding:40px 40px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

section{
    max-width: 100%;
    margin: 0 auto;
}

 /***********Navigation styling***********/
nav.navigation{
    display: none
}

.nav_cta{
    display: none;
}

nav.navigation.active{
    padding:2rem;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    background-color: #ffff;
    border-radius:5px;
    top: 80px;
    left: 0.5%;
    width: 95vw; 
    min-width: unset;
    z-index:10;
}

#menu_backdrop{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.363);
    z-index: 9;
    transition: opacity 0.3s ease-in-out;
}

nav.navigation.active ~ #menu_backdrop{
    opacity:1;
    visibility: visible;
    pointer-events: auto;
}

nav.navigation.active a{
    text-decoration: none;
    padding: 1rem;
    color: var(--primary-blue-950);
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
}

img.menu.hide{
    display:none
}

img.close{
    display:none;
}

img.close.show{
    display: flex;
}

/*******hero section ******/

.hero_container, .why_manage{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
 
.hero_container img{
    max-width: 100%;
    flex:1;
    filter: contrast(200%);
}

.description{
    margin-top: 2rem;
    flex: 1 
}

.description p{
    color: var(--neutral-gray-950);
    opacity: 50%;
    word-spacing: 0.2rem;
    font-size: 1.2rem;
    line-height: 1.75;
    margin-bottom: 2rem;
}

h1, h2, h3, h4 {
    color: var(--primary-blue-950);
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
    margin-block: 0.5rem;
}

.why_manage h2{
    font-size:2.25rem;
    line-height: 1.5;
}

.features h3{
    font-size: 1rem;
    background-color: var(--neutral-orange-50);
    display: flex; 
    align-items: center;
    gap:5%;
    border-radius: 20px 0px 0px 20px;
}

.features{
    text-align: left;
}

.testimonials{
    padding: 40px 0;
    text-align: center;
}

.testimonials h2{
    margin-bottom: 3rem;
    padding-inline: 1rem;
}

.testimonial_wrapper{
    width: 100vw;
    overflow: hidden; 
    margin: 0 auto; 
}

.testimonials .slider{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin:3rem 0;
    margin-left: 0.20rem;
    padding:0;
    width: 400vw;
    transition: transform 0.5s ease-in-out;
    font-size: 0;
}

.testimonials .slider h4{
    font-size: 1.5rem;
    padding-top: 4rem;
    margin-block: 1.5rem
}

.testimonials .slider li{
    background-color: var(--neutral-gray-50);
    border-radius: 10px;
    flex-basis: calc(100vw - 1rem); 
    min-width: calc(100vw - 1rem);
    flex-shrink: 0;
    margin: 0 0.5rem;
    padding: 0;
    margin-top: 8rem; 
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size:  1rem;
}

.testimonials .slider li p{
    font-size: 1.5rem;
    font-weight: var(--font-weight-normal)
}

.testimonials .slider li img{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.slider_dots{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    margin-top:0.5rem;
    margin-bottom: 3rem;
}

.dot{
    display: block;
    width:10px;
    height:10px;
    border-radius: 50%;
    border: 2px solid var(--primary-orange-400);
    cursor: pointer;
    background-color: #ffff;
    transition: background-color 0.3s;
}
.active{
    background-color: var(--primary-orange-400);
}

.cta_section{
    padding:1rem;
    background-image: url(images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: var(--primary-orange-400);
    filter: contrast(200%);
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta_section h2{
    color:var(--neutral-gray-50);
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.3;
}

footer{
    background-color: var(--neutral-gray-950);
    padding: 2rem 1rem;
    color:#ffff;
}
 footer .footer_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
 }

 footer .form{
    display: flex;
    width:100%;
    justify-content: space-between;
    
 }

 footer  .footer_content .form input{
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--primary-blue-950);
    border-radius: 25px;
    background-color: var(--neutral-orange-50);
    margin-right: 1.5rem;
    flex:1;
 }


 footer .links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap:2rem;
    font-size: 1rem;
 }

 footer .links a:hover{
    color: var(--primary-orange-400);
    filter: contrast(200%);
 }

 footer .links ul{
    list-style: none;
    padding: 0;
 }

 footer .links a {
    color: var(--neutral-gray-50);
    opacity: 50%;
    text-decoration: none;
    line-height: 2.5; 
 }

 footer .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

 }

 footer .footer_content .brand .social{
    display: flex;
    justify-content: center;
    gap: 3rem
 }

 footer  p{
    color:var(--primary-gray-50);
    opacity: 50%;
    font-size: var(--font-weight-normal);
    text-align: center;
 }

/******************Buttons***************************/

.cta, .marker{
    min-width: fit-content;
    background-color: var(--primary-orange-400);
    padding: 1rem 2rem;
    font-family: var(--base-font-size);
    font-size: 1.2rem;
    font-weight: var(--font-weight-medium);
    color: var(--neutral-gray-50);
    border:none;
    border-radius:25px;
    filter:contrast(200%);
    text-align: center;
}

.cta{
    padding: 1rem 3rem;
    filter: contrast(200%) drop-shadow(0px 5px 5px var(--primary-orange-400));
}

.cta:hover{
    opacity: 55%;
    cursor:pointer;
}

.marker{
    padding: 1rem 1.5rem
}

.inversed{
    background-color: #ffff;
    color:var(--primary-orange-400);
    font-weight: var(--font-weight-bold);
}

.cta_submit{
    padding:1rem 1.5rem;
    filter: contrast(200%);
    cursor:pointer;
}

.cta_submit:hover{
    opacity: 0.8;
}
    

/*************Media Query**********/
@media only screen and (min-width:991px) {
section{
    padding-inline:5rem; 
}

    header{
        padding-inline: 10%;
    }
         /*****navigation****/
    nav.navigation{
        display:flex;
        justify-content: space-between;
    }

    nav.navigation a {
        text-decoration: none;
        color: var(--primary-blue-950);
        font-size: 1.25rem;
        font-weight: var(--font-weight-normal);
        padding: 1.2em;    
    }

    nav.navigation a:hover{
        color: var(--primary-gray-50);
        opacity: 50%;
    }

    .toggle_box{
        display: none;
    }

    .nav_cta{
        display:flex;
        
    }

        /******main******/
    .hero_container{
        margin-top:4em;
        flex-direction: row-reverse;
    }

    .why_manage{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
    }

    .hero_container .description h1,
    .features h3{
        max-width: 60%;
        font-size: 3rem;
        line-height: 1.1;
        margin-bottom: 2rem;
    }

    .why_manage .description h2{
        max-width: 65%;
        font-size: 2.75rem;
        line-height: 1.1;
        margin-bottom: 2rem;
    }

    .hero_container .description,
    .why_manage .description{
        flex:1;
        text-align: left;
    }

    .hero_container .description p,
    .why_manage .description .p{
        max-width: 65%;
        font-size: 1.5rem;
    }

    .features h3{
        margin-top: 2rem;
        max-width: 100%;
        background-color: unset;
    }

     .features p{
        margin-left: 15%;
        max-width: 70%
    }

    .hero_container img,
    .features{
        flex:1;
    }

    .testimonials .slider li img{
        top: -30%;
    }

    .slider_dots {
        display: none;
    }
    
    .cta_section{
        margin-top: 10rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(images/bg-simplify-section-desktop.svg);
        background-position: center;
        max-width: 100%;
        padding:5rem 8rem;
    }

    .cta_section h2{
        text-align: left;
        max-width: 40%;
        margin-right: 4rem;
        margin-block: 0;
    }

    footer .footer_content{
        padding: 2rem 8rem;
        gap: 15%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
    }


    footer .footer_content .links{
        gap:15rem;
    }

    footer .footer_content .form{
        width:100%;
        display: flex;
        align-self: baseline;
        
    }
     footer .footer_content .form input{
        padding-right: 3rem;
        min-width: 40%;
        margin: 0;
    }


    footer .footer_content .brand{
        flex-direction: column-reverse;
        gap: 6rem;
        flex:1;
        align-self: flex-end;
    }

    footer .footer_content .brand .social{
        gap:1rem;
    }

    footer  p {
        padding-left: 70%;
    }

}