
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root{
    /*****Colors*****/
    --primary-orange-400: hsl(12,88%,59%);
    --primary-blue-950: hsl(228,39%,23%);

    --neutral-gray-950:hsl(233,12%,13%);
    --neutral-orange-50: hsl(13,100%,96%);
    --neutral-gray-50: hsl(0,0%,98%);

    /*****Typography******/
    --primary-font:"Be Vietnam Pro",sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --base-font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--primary-font);
    font-size: var(--base-font-size);
}

header{
    padding:40px 40px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

section{
    max-width: 90%;
    margin: 0 auto;
}


 /***********Navigation styling***********/
nav.navigation{
    display: none
}

.nav_cta{
    display: none;
}

nav.navigation.active{
    padding:20px;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    background-color: #ffff;
    border-radius:5px;
    top: 80px;
    width: 80%;
    z-index: 10;
}

#menu_backdrop{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9;
    transition: opacity 0.3s ease-in-out;
}

nav.navigation.active ~ #menu_backdrop{
    opacity:1;
    visibility: visible;
    pointer-events: auto;
}

nav.navigation.active a{
    text-decoration: none;
    padding: 15px;
    color: var(--primary-blue-950);
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
}

img.menu.hide{
    display:none
}

img.close{
    display:none;
}

img.close.show{
    display: flex;
}

/*******hero section ******/

.hero_container{
    width: 90%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
 
.hero_container img{
    max-width: 90%;
}

.hero_container .hero_description{
    margin-top: 40px;
    
}

.hero_container .hero_description h1{
    color: var(--primary-blue-950);
    font-size: 2.25rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    margin-bottom: 15px;
}

.hero_container .hero_description p{
    color: var(--neutral-gray-950);
    opacity: 50%;
    word-spacing: 0.2rem;
    line-height: 2;
    margin-bottom: 30px;
}

/******************Buttons***************************/

.cta{
    max-width: max-content;
    background-color: var(--primary-orange-400);
    padding: 15px 30px;
    font-family: var(--base-font-size);
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--neutral-gray-50);
    border:none;
    border-radius:25px;
    filter:contrast(200%) drop-shadow(0px 5px 5px var(--primary-orange-400));
}

.cta:hover{
    opacity: 55%;
    cursor:pointer;
}
    


/*************Media Query**********/
@media only screen and (min-width:991px) {
    header{
        max-width: 90%;
    }
         /*****navigation****/
    nav.navigation{
        display:flex;
        justify-content: space-between;
    }

    nav.navigation a {
        text-decoration: none;
        color: var(--primary-blue-950);
        font-size: 1rem;
        font-weight: var(--font-weight-normal);
        padding: 20px;    
    }

    nav.navigation a:hover{
        color: var(--primary-gray-50);
        opacity: 50%;
    }

    .toggle_box{
        display: none;
    }

    .nav_cta{
        display:flex
    }


        /*****hero******/
    .hero_container{
        flex-direction: row-reverse;
    }

      .hero_container .hero_description{
        flex:1;
        text-align: left;
    }

    .hero_container .hero_description p{
        max-width: 450px;
        font-size: 1.2rem;
    }

    .hero_container .hero_description h1{
        max-width: 500px;
        font-size: 3rem;
        line-height: 1.1;
        margin-bottom: 25px;
    }
}